*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'open sans',sans-serif ;
}

.wrapper {
   width: 1100px;
   margin: auto;
   position: relative; 
}

.logo a{
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color:#3A86FF;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffff;
    z-index: 1;
    border-bottom: 1px solid#3A86FF ;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    ;
}

nav ul li a:hover {
    text-decoration: underline;
}

.Judul {
    margin-bottom: 10px;
    font-weight: bold;
    color: blue;
}

.text {
    margin-bottom: 10px;
    font-size: larger;
    font-family: 'Segoe UI', arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

.gambar {
    margin: 200px;
    height: auto;
    width: 300px;
    float: left;
    position: relative;
}
